imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #translator:      { fallback: "%locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    #http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: "%kernel.root_dir%/data/data.db3"
        # path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true

# Swiftmailer Configuration
#swiftmailer:
    #transport: "%mailer_transport%"
    #host:      "%mailer_host%"
    #username:  "%mailer_user%"
    #password:  "%mailer_password%"
    #spool:     { type: memory }


sensio_framework_extra:
    router:  { annotations: true }
    request: { converters: true }
    view:    { annotations: false }
    cache:   { annotations: true }

# FOSRest Configuration
fos_rest:
    format_listener:
        rules:
            - { priorities: ['json'], fallback_format: json, prefer_extension: true }
    routing_loader:
        default_format: json
    view:
        view_response_listener: force
        formats:
            json: true
        templating_formats:
            html: true
        force_redirects:
            html: true
        default_engine: twig
        
# FOSOAuthServerBundle Configuration
fos_oauth_server:
    db_driver: orm       
    client_class:        PQ\CoreDomain\OAuthBundle\Entity\Client
    access_token_class:  PQ\CoreDomain\OAuthBundle\Entity\AccessToken
    refresh_token_class: PQ\CoreDomain\OAuthBundle\Entity\RefreshToken
    auth_code_class:     PQ\CoreDomain\OAuthBundle\Entity\AuthCode
    service:
        user_provider: fos_user.user_provider.username_email
        options:
            access_token_lifetime: 3600

# FOSUser Configuration
fos_user:
    db_driver: orm 
    firewall_name: api # firewall name from security.yml
    user_class: PQ\CoreDomain\UserBundle\Entity\User

jms_serializer:
    metadata:
        auto_detection: true
        directories:
            PQUserBundle:
                namespace_prefix: "PQ\\CoreDomain\\UserBundle"
                path: "@PQUserBundle/Resources/config/serializer/"
            FOSUserBundle:
                namespace_prefix: "FOS\\UserBundle"
                path: "@PQUserBundle/Resources/config/serializer/"

snc_redis:
    clients:
        default:
            type: phpredis
            alias: default
            dsn: redis://127.0.0.1:6379
            logging: %kernel.debug%

pq_rate_limit:
    limits:
        - { path: ^/api/v1/users, limit: 15, time: 3300}
