parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: mojlek-api
    database_user: mojlek-api
    database_password: 
    mailer_transport: mailgun
    locale: pl
    secret: not_secret

    mailer.from: kontakt@praceon.pl
    mailer.fromName: PraceOn
    mailgun.key: insert_key
    mailgun.domain: insert_domain

    recaptcha.publickey: insert_publickey
    recaptcha.privatekey: insert_privatekey
